@use "../custom" as *;
@use "../component/animation" as *;

// SERVICE SHOWCASE AREA

.showcase {
  display: flex;
  flex-wrap: wrap;
  max-height: 120vh;
  min-height: auto;
  padding: 4rem 0;
  font-family: "Poppins", "san-serif";
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;

  @include media-breakpoint-down(lg) {
    max-height: fit-content;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;

    .box {
      position: relative;
      margin: 2rem auto;
      width: 90%;
      height: 20rem;
      border-radius: 2rem;
      box-shadow: 0 2px 15px $gray-400;

      &:hover {
        box-shadow: 0 3px 20px $gray-500;
        transition: all 1s;
        cursor: pointer;
      }

      &-img {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        img {
          margin-right: auto;
          margin-left: auto;
          width: 18rem;
          margin-bottom: 5px;
        }
      }

      &-text {
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        color: $primary;
      }

      &-detail-service {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $gray-100-trans;
        border-radius: 2rem;

        &.inactive {
          opacity: 0%;
        }
        p {
          padding: 2rem 1rem;
        }
      }
    }
  }
}

.service {
  padding: 2rem;
  position: relative;
  font-family: "Poppins", "san-serif";
  margin-bottom: 2rem;

  .box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    flex-direction: column;
    margin: 0 auto;

    .our-logo {
      padding: 2rem 0;
      margin: 0 auto;
      width: 25rem;

      &:hover {
        animation: zoom-float infinte ease-in-out;
        transition: all 50ms;
      }
    }

    .our-team {
      padding: 2rem 0;
      margin: 0 auto;
      width: 30rem;
    }
  }

  .display-4 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &-catalogue {
    position: relative;
    display: block;
    font-family: "Poppins", "san-serif";
    overflow: hidden;

    .service-bg {
      display: block;

      img {
        position: absolute;
        width: 100%;
        z-index: -1;
        object-fit: fill;
        filter: grayscale(80%);
      }
    }

    .catalogue {
      padding: 2rem;

      &-text {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }

      &-details {
        margin-bottom: 1rem;
      }
    }
  }

  &-lang {
    padding: 2rem;
    position: relative;
    font-family: "Poppins", "san-serif";
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .img-box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      
      img {
        width: 15rem;
        height: 80%;
        padding: 0 1rem;
        margin: 0 auto;
        
      }
    }
  }

  &-main {
    display: block;
    position: relative;

    .container {
      padding: 0 1.5rem;

      .display-6 {
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 1rem;
      }

      img {
        margin: 0 auto;
        float: right;
        width: 15rem;
      }

      p {
        margin-bottom: .5rem;
        font-weight: 600;

        &.endnote {
          font-size: 20px;
          font-weight: 400;
          margin-top: 2rem;
          margin-bottom: 1rem;
        }
      }
    }

  }
}

.portfolio {
  position: relative;
  margin-top: 2rem;
  padding: 4rem 2rem;
  background-color: $primary;
  @include media-breakpoint-down(md) {
    padding: 2rem 0.5rem;
  }

  .portfolio-body {
    width: 100%;
    padding: 1.5rem 1.75rem;
    border-radius: 2rem;
    background: hsla(0, 0, 100%, 0.95);
    box-shadow: 0 3px 10px #00000091;
    backdrop-filter: blur(30px);
    position: relative;
    width: 100%;
    font-family: "Poppins", sans-serif;

    .page-header {
      text-transform: capitalize;
      font-size: 46px;
      @include media-breakpoint-down(md) {
        font-size: 32px;
      }
    }

    .portfolio-icon {
      .icon-box {
        position: relative;
        margin: auto;
        width: 30rem;

        img {
          animation: float 2.5s ease-in-out infinite;

          @include media-breakpoint-down(md) {
            position: absolute;
            width: 10px;
            visibility: hidden;
          }
        }
        @include media-breakpoint-down(md) {
          position: absolute;
          width: 10px;
          visibility: hidden;
        }
      }
    }

    .portfolio-count {
      position: relative;
      padding: 2rem 1rem;
      margin-top: 2rem;
      font-family: "Poppins", sans-serif;
      text-align: left;

      @include media-breakpoint-down(md) {
        padding: 1rem 0.25rem;
      }

      .icon {
        font-size: 38px;
        font-weight: 700;
        color: $primary;
        padding-bottom: 0.5rem;
      }

      h3 {
        font-weight: 700;
      }

      p {
        text-align: left;
        font-size: 16px;

        @include media-breakpoint-down(md) {
          text-align: left;
          font-size: 13px;
        }
      }
    }
  }
}

.quote-bg {
  position: relative;
  margin-top: 4rem;
  padding: 4rem 2rem;
  @include media-breakpoint-down(md) {
    padding: 2rem 0.5rem;
  }

  .quote {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

    .quote-text {
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .quote-author {
      text-align: right;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}
