@use "../custom" as *;

// BUTTONS STYLING CODES
.service-btn {
  display: flex;
  padding: 0.35rem 1rem;
  border: 3px solid $primary;
  border-radius: 2rem;
  background-color: $primary;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  max-width: 13rem;
  text-align: center;
  text-transform: capitalize;

  span {
    margin: 0 auto;
    align-self: center;
    text-align: center;

    i {
      margin-left: 5px;
      
    }
  }

  &.rigid {
      border-radius: 0.5rem !important;
    }

  &:hover {
    color: $primary;
    font-weight: 500;
    background-color: transparent;
    border: 3px solid $primary;
    transition: all 1s;
  }

  &.small {
    padding: 5px 1.5rem !important;
    font-size: 14px !important;

  }

  &.light {
    border: 3px solid $primary;
    border-radius: 2rem;
    background-color: $white;
    color: $primary;
    text-decoration: none;

    &-black {
      border: 3px solid $black !important;
      background-color: $white !important;
      color: $black;
      font-weight: 500;

      &:hover {
      color: $white;
      font-weight: 500;
      background-color: $black !important;
      border: 3px solid $black !important;
      transition: all 1s;
    }
    }

    &:hover {
      color: $white;
      font-weight: 500;
      background-color: $primary;
      border: 3px solid $primary;
      transition: all 1s;
    }

    &.rigid {
      border-radius: 0.5rem !important;
    }
  }

  &.dark {
    border: 3px solid $primary;
    border-radius: 2rem;
    background-color: transparent;
    color: $primary !important;
    text-decoration: none;

    &:hover {
      color: $white !important;
      font-weight: 500;
      background-color: $primary !important;
      border: 3px solid $primary;
      transition: all 1s;
    }

    span {
      text-align: center;
    }

    &.big {
      font-size: 21px;
      font-weight: 500;
      padding: 0.35rem 2rem;
    }

    &.rigid {
      border-radius: 0.5rem !important;
    }
  }
}
